
<%= form_for(@slider2, :html => {:class=>'form-horizontal m-t',id:"signupForm",:multipart => true}) do |f| %>


    <div class="form-group">
      <label class="col-sm-3 control-label">链接：</label>
      <div class="col-sm-5">
        <%= f.text_field :tel ,class:"form-control"%>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">图片：</label>
      <div class="col-sm-3">
        <%= f.file_field :logo ,class:"form-control"%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-3">
        <%= f.submit '提交',class:"btn btn-sucess" %>


      </div>
    </div>
    </div>
<% end %>