
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
  <title>在线客服</title>
  <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="js/kefu.js"></script>
  <link rel="stylesheet" href="css/qq.css" />
</head>
<body style="height:2000px;">
<!-- 代码 开始 -->
<div id="online_qq_layer">
  <div id="online_qq_tab">
    <div class="online_icon">
      <a title="联系我们" id="floatTrigger" href="javascript:void(0);"></a>
    </div>
  </div>
  <div id="onlineService">
    <div class="online_windows overz">
      <div class="online_w_top"> </div>
      <!--online_w_top end-->
      <div class="online_w_c overz">
        <div class="online_bar collapse" id="onlineSort1">
          <h2> <a href="javascript:;">QQ在线咨询</a> </h2>
          <div class="online_content overz" id="onlineType1" style="display: block;">
            <ul class="overz">
              <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=954502368&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:954502368:51" alt="我们竭诚为您服务！" title="我们竭诚为您服务！"/></a></li>
              <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=954502368&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:954502368:51" alt="我们竭诚为您服务！" title="我们竭诚为您服务！"/></a></li>
              <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=954502368&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:954502368:51" alt="我们竭诚为您服务！" title="我们竭诚为您服务！"/></a></li>
              <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=954502368&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:954502368:51" alt="我们竭诚为您服务！" title="我们竭诚为您服务！"/></a></li>
            </ul>
          </div>
          <!--online_content end-->
        </div>
        <!--online_bar end-->
        <div class="online_bar collapse" id="onlineSort2">
          <h2> <a href="javascript:;">在线咨询热线</a></h2>
          <div class="online_content overz" id="onlineType2" style="display: block;">
            <ul class="overz">

              <li>电话：0871-65345617</li>
            </ul>
          </div>
        </div>

        <!--online_bar end-->
        <div class="online_bar collapse" id="onlineSort3">
          <h2> <a href="javascript:;">关注微信公众号</a> </h2>
          <div class="online_content overz" id="onlineType3" style="display: block;"> <img src="images/花之懿服务号二维码 50x50.jpg" style="display: block;margin: 0 auto 5px;width: 90px"> </div>
        </div>
        <!--online_bar end-->
      </div>
      <!--online_w_c end-->
      <div class="online_w_bottom"> </div>
      <!--online_w_bottom end-->
    </div>
    <!--online_windows end-->
  </div>
</div>
<!-- 代码 结束 -->

</body>
</html>