

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link href="css/styles.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="js/jquery-1.7.min.js"></script>
  <script>
      $(function() {
          // 悬浮窗口
          $(".yb_conct").hover(function() {
              $(".yb_conct").css("right", "5px");
              $(".yb_bar .yb_ercode").css('height', '200px');
          }, function() {
              $(".yb_conct").css("right", "-127px");
              $(".yb_bar .yb_ercode").css('height', '53px');
          });
          // 返回顶部
          $(".yb_top").click(function() {
              $("html,body").animate({
                  'scrollTop': '0px'
              }, 300)
          });
      });
  </script>
</head>

<body>
<div class="yb_conct">
  <div class="yb_bar">
    <ul>
      <li class="yb_top">返回顶部</li>
      <li class="yb_phone">4008-123-456</li>
      <li class="yb_phone">4008-123-456</li>

      <li class="yb_QQ">
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=120974797&amp;site=qq&amp;menu=yes&amp;from=message&amp;isappinstalled=0" title="即刻发送您的需求">在线咨询</a>
      </li>

      <li class="yb_QQ">
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=954502368&amp;site=qq&amp;menu=yes&amp;from=message&amp;isappinstalled=0" title="即刻发送您的需求">在线咨询</a>
      </li>

      <li class="yb_ercode" style="height:53px;">微信二维码 <br>
        <img class="hd_qr" src="images/花之懿服务号二维码 50x50.jpg" width="180" alt="关注你附近"> </li>
    </ul>
  </div>
</div>

</body>
</html>
