
<div class="wrap">
  <div class="transport-grid" style="position:relative; top:70px">



    <% @frames.each do |k| %>
    <div class="col-md-4 shipping">
      <h3><%= k.ftitle %></h3>
      <p><%= k.fcontent %></p>
    </div>
    <% end %>





















    <div class="clearfix"></div>
  </div>
</div>

