<script>
    $(document).ready(function(){$(".megamenu").megamenu();});
</script>
<div class="navigation-strip">
  <div class="container">
    <h4>logo位置<i class="arrow"></i></h4>
    <div class="top-menu">
      <ul class="megamenu skyblue ">
        <li><a class="color1" href="#">管理员</a>
        </li>
        <li class="grid"><a class="color2" href='/adminwenhuas'> 企业文化</a>
        </li>
        <li class="grid"><a class="color4" href="/adminroses">玫瑰花功效</a>
        </li>
        <li><a class="color5" href="/adminproducts">产品中心</a>
        </li>
        <li><a class="color5" href="/productclas">产品类型</a>
        </li>
        <li><a class="color6" href="/adminabouts">关于我们</a>
        </li>
        <li><a class="color8" href="/adminxinwens">新闻中心</a>
        </li>
        <li><a class="color9" href="/configs">设置</a>
        </li>
        <li><a class="color5" href="/sliders">主页图片</a>
        </li>
        <li><a class="color1" href="/contacts">留言</a>
        </li>
      </ul>
    </div>
  </div>
</div>