

<div class="footer" style="position:relative; top:50px">
  <div class="wrap">



    <div class="copyright text-center">
      <% if public_config %>
      <p>备案:<%=public_config.beian %> <a href="http://w3layouts.com">  内容待定</a></p>
          <% end %>
    </div>

  </div>
</div>
