

<div class="footer" style="position:relative; top:50px">
  <div class="wrap">


    <div class="copyright text-center">
      <p>Copyright © 2015 All rights reserved | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
    </div>

  </div>
</div>