

<div class="footer" style="position:relative; top:50px">
  <div class="wrap">
    <div class="copyright text-center">
      <% if public_config %>
      <p>备案:<%=public_config.beian %>
        <%= link_to '我们的位置:云南省昆明市学府路金鼎科技园昆明高新技术创业服务中心大楼A座4层C区', sitemaps_path, class:'mylink', 'data-no-turbolink' => true %>
      </p>

    <% end %>

    </div>

  </div>
</div>
