

<div class="footer" style="position:relative; top:50px">
  <div class="wrap">



    <div class="copyright text-center">
      <% if public_config %>
      <p>备案:<%=public_config.beian %>
        <%= link_to '我们的位置', sitemaps_path, class:'mylink', 'data-no-turbolink' => true %>
      </p>

    <% end %>

    </div>

  </div>






</div>

