
<script>
    $(document).ready(function(){$(".megamenu").megamenu();});
</script>
  <div class="navigation-strip">
    <div class="container">
    <h4>logo位置<i class="arrow"></i></h4>
<div class="top-menu">
  <ul class="megamenu skyblue ">
    <li><a class="color1" href="/sides">主页</a>
    </li>
    <li class="grid"><a class="color2" href='/wenhuas'> 企业文化</a>
    </li>
    <li class="grid"><a class="color4" href="/roses">玫瑰花功效</a>
</li>
    <li><a class="color5" href="/products">产品中心</a>
    </li>
    <li><a class="color6" href="/abouts">关于我们</a>
    </li>
    <li><a class="color8" href="/news">新闻中心</a>
    </li>
  </ul>
</div>
</div>
</div>

