<script>
    $(document).ready(function(){$(".megamenu").megamenu();});
</script>

  <div class="navigation-strip">
    <div class="container">




    <h4>logo位置<i class="arrow"></i></h4>
<div class="top-menu">
  <ul class="megamenu skyblue ">
    <li><a class="color1" href="#">主页</a>
      <div class="megapanel">
        <div class="row">
          <div class="col1">
            <div class="h_nav">
              <h4>shop</h4>
              <ul>
                <li><a href="producs.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">brands</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>help</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>account</h4>
              <ul>
                <li><a href="login.html">login</a></li>
                <li><a href="register.html">create an account</a></li>
                <li><a href="products.html">create wishlist</a></li>
                <li><a href="single.html">my shopping bag</a></li>
                <li><a href="products.html">brands</a></li>
                <li><a href="products.html">create wishlist</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>popular</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col2"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
        </div>
      </div>
    </li>
    <li class="grid"><a class="color2" href="#">企业文化</a>
      <div class="megapanel">
        <div class="row">
          <div class="col1">
            <div class="h_nav">
              <h4>shop</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">brands</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>help</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>account</h4>
              <ul>
                <li><a href="products.html">login</a></li>
                <li><a href="products.html">create an account</a></li>
                <li><a href="products.html">create wishlist</a></li>
                <li><a href="products.html">my shopping bag</a></li>
                <li><a href="products.html">brands</a></li>
                <li><a href="products.html">create wishlist</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>popular</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col2"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
        </div>
      </div>
    </li>
    <li class="grid"><a class="color4" href="#">玫瑰花作用与效果</a>
      <div class="megapanel">
        <div class="row">
          <div class="col1">
            <div class="h_nav">
              <h4>shop</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">brands</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>help</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>account</h4>
              <ul>
                <li><a href="products.html">login</a></li>
                <li><a href="products.html">create an account</a></li>
                <li><a href="products.html">create wishlist</a></li>
                <li><a href="products.html">my shopping bag</a></li>
                <li><a href="products.html">brands</a></li>
                <li><a href="products.html">create wishlist</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>popular</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col2"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
        </div>
      </div>
    </li>
    <li><a class="color5" href="#">产品中心</a>
      <div class="megapanel">
        <div class="row">
          <div class="col1">
            <div class="h_nav">
              <h4>shop</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">brands</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>help</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>account</h4>
              <ul>
                <li><a href="products.html">login</a></li>
                <li><a href="products.html">create an account</a></li>
                <li><a href="products.html">create wishlist</a></li>
                <li><a href="products.html">my shopping bag</a></li>
                <li><a href="products.html">brands</a></li>
                <li><a href="products.html">create wishlist</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>popular</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col2"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
        </div>
      </div>
    </li>
    <li><a class="color6" href="#">关于我们</a>
      <div class="megapanel">
        <div class="row">
          <div class="col1">
            <div class="h_nav">
              <h4>shop</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">brands</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>help</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>account</h4>
              <ul>
                <li><a href="products.html">login</a></li>
                <li><a href="products.html">create an account</a></li>
                <li><a href="products.html">create wishlist</a></li>
                <li><a href="products.html">my shopping bag</a></li>
                <li><a href="products.html">brands</a></li>
                <li><a href="products.html">create wishlist</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>popular</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col2"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
        </div>
      </div>
    </li>
    <li><a class="color8" href="#">新闻中心</a>
      <div class="megapanel">
        <div class="row">
          <div class="col1">
            <div class="h_nav">
              <h4>shop</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">brands</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>help</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>account</h4>
              <ul>
                <li><a href="products.html">login</a></li>
                <li><a href="products.html">create an account</a></li>
                <li><a href="products.html">create wishlist</a></li>
                <li><a href="products.html">my shopping bag</a></li>
                <li><a href="products.html">brands</a></li>
                <li><a href="products.html">create wishlist</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>popular</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col2"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
        </div>
      </div>
    </li>
    <li><a class="color9" href="#">T-shirts</a>
      <div class="megapanel">
        <div class="row">
          <div class="col1">
            <div class="h_nav">
              <h4>shop</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">brands</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>help</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>account</h4>
              <ul>
                <li><a href="products.html">login</a></li>
                <li><a href="products.html">create an account</a></li>
                <li><a href="products.html">create wishlist</a></li>
                <li><a href="products.html">my shopping bag</a></li>
                <li><a href="products.html">brands</a></li>
                <li><a href="products.html">create wishlist</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>popular</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col2"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
        </div>
      </div>
    </li>
    <li><a class="color5" href="#">sarees</a>
      <div class="megapanel">
        <div class="row">
          <div class="col1">
            <div class="h_nav">
              <h4>shop</h4>
              <ul>
                <li><a href="sarees.html">new arrivals</a></li>
                <li><a href="sarees.html">men</a></li>
                <li><a href="sarees.html">women</a></li>
                <li><a href="sarees.html">accessories</a></li>
                <li><a href="sarees.html">kids</a></li>
                <li><a href="sarees.html">brands</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>help</h4>
              <ul>
                <li><a href="sarees.html">trends</a></li>
                <li><a href="sarees.html">sale</a></li>
                <li><a href="sarees.html">style videos</a></li>
                <li><a href="sarees.html">accessories</a></li>
                <li><a href="sarees.html">kids</a></li>
                <li><a href="sarees.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="sarees.html">trends</a></li>
                <li><a href="sarees.html">sale</a></li>
                <li><a href="sarees.html">style videos</a></li>
                <li><a href="sarees.html">accessories</a></li>
                <li><a href="sarees.html">kids</a></li>
                <li><a href="sarees.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>account</h4>
              <ul>
                <li><a href="sarees.html">login</a></li>
                <li><a href="sarees.html">create an account</a></li>
                <li><a href="sarees.html">create wishlist</a></li>
                <li><a href="sarees.html">my shopping bag</a></li>
                <li><a href="sarees.html">brands</a></li>
                <li><a href="sarees.html">create wishlist</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="sarees.html">trends</a></li>
                <li><a href="sarees.html">sale</a></li>
                <li><a href="sarees.html">style videos</a></li>
                <li><a href="sarees.html">accessories</a></li>
                <li><a href="sarees.html">kids</a></li>
                <li><a href="sarees.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>popular</h4>
              <ul>
                <li><a href="sarees.html">new arrivals</a></li>
                <li><a href="sarees.html">men</a></li>
                <li><a href="sarees.html">women</a></li>
                <li><a href="sarees.html">accessories</a></li>
                <li><a href="sarees.html">kids</a></li>
                <li><a href="sarees.html">style videos</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col2"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
        </div>
      </div>
    </li>
    <li><a class="color1" href="#">jeans</a>
      <div class="megapanel">
        <div class="row">
          <div class="col1">
            <div class="h_nav">
              <h4>shop</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">brands</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>help</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>account</h4>
              <ul>
                <li><a href="products.html">login</a></li>
                <li><a href="products.html">create an account</a></li>
                <li><a href="products.html">create wishlist</a></li>
                <li><a href="products.html">my shopping bag</a></li>
                <li><a href="products.html">brands</a></li>
                <li><a href="products.html">create wishlist</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>popular</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col2"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
        </div>
      </div>
    </li>
    <li><a class="color10" href="#">perfumes</a>
      <div class="megapanel">
        <div class="row">
          <div class="col1">
            <div class="h_nav">
              <h4>shop</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">brands</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>help</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>account</h4>
              <ul>
                <li><a href="products.html">login</a></li>
                <li><a href="products.html">create an account</a></li>
                <li><a href="products.html">create wishlist</a></li>
                <li><a href="products.html">my shopping bag</a></li>
                <li><a href="products.html">brands</a></li>
                <li><a href="products.html">create wishlist</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>my company</h4>
              <ul>
                <li><a href="products.html">trends</a></li>
                <li><a href="products.html">sale</a></li>
                <li><a href="products.html">style videos</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col1">
            <div class="h_nav">
              <h4>popular</h4>
              <ul>
                <li><a href="products.html">new arrivals</a></li>
                <li><a href="products.html">men</a></li>
                <li><a href="products.html">women</a></li>
                <li><a href="products.html">accessories</a></li>
                <li><a href="products.html">kids</a></li>
                <li><a href="products.html">style videos</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col2"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
          <div class="col1"></div>
        </div>
      </div>
    </li>


  </ul>
</div>
</div>
</div>