
<div style="position:relative; top:50px">
  <div class="col-md-3 new-arrival-head">
    <h3>特色产品</h3>
    <a class="btn btn-1 btn-1d" href="products.html">详情</a>
  </div>
  <div class="col-md-3 product-item">
    <a href="products.html"><img src="images/watch.jpg" class="img-responsive" alt="" /></a>
    <h3>产品名称</h3>
    <a href="single.html">现在购买<i class="go"></i></a>
  </div>
  <div class="col-md-3 product-item">
    <a href="products.html"><img src="images/men-jacket.jpg" class="img-responsive zoom-img" alt="" /></a>
    <h3>jackets</h3>
    <a href="single.html">Shop Now<i class="go"></i></a>
  </div>
  <div class="col-md-3 product-item">
    <a href="products.html"><img src="images/shoes.jpg" class="img-responsive zoom-img" alt="" /></a>
    <h3>Footwear</h3>
    <a href="single.html">Shop Now<i class="go"></i></a>
  </div>
</div>