
<div style="position:relative; top:50px" class="container">
  <div class="col-md-3 new-arrival-head">
    <h3>特色产品</h3>
    <a class="btn btn-1 btn-1d" href="products.html">详情</a>
  </div>
  <div class="col-md-3 product-item">
    <a href="products.html"><img src="images/鲜花云腿月饼.jpg" class="img-responsive" alt="" /></a>
    <h3>鲜花云腿月饼</h3>
    <a href="single.html">现在购买<i class="go"></i></a>
  </div>
  <div class="col-md-3 product-item">
    <a href="products.html"><img src="images/鲜花素饼.jpg" class="img-responsive zoom-img" alt="" /></a>
    <h3>鲜花素饼</h3>
    <a href="single.html">现在购买<i class="go"></i></a>
  </div>
  <div class="col-md-3 product-item">
    <a href="products.html"><img src="images/鲜花饼.jpg" class="img-responsive zoom-img" alt="" /></a>
    <h3>鲜花饼</h3>
    <a href="single.html">现在购买<i class="go"></i></a>
  </div>
</div>
