<!-- start slider -->

<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            speed: 500,
            namespace: "callbacks",
            pager: true
        });
    });
</script>
<!--end slider -->
<!-- start slider -->
<!----->
<div class="slider">
  <div class="callbacks_container">
    <ul class="rslides" id="slider" style="max-height: 600px;">
      <li>
        <img src="images/slider1.jpg"  alt=""/>
      </li>
      <li>
        <img src="images/slider2.jpg" alt=""/>
      </li>
      <li>
        <img src="images/slider3.jpg" alt=""/>
      </li>
      <li>
        <img src="images/slider4.jpg" alt=""/>
      </li>
    </ul>
  </div>
</div>
<!----->
<!-- end  slider -->
