

<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            speed: 500,
            namespace: "callbacks",
            pager: true
        });
    });
</script>

<div class="slider">
  <div class="callbacks_container">
    <ul class="rslides" id="slider" style="max-height: 600px;">


      <%= public_slider.each do |slider| %>

          <li data-delay="6000" data-masterspeed="300" data-transition="fade">
            <div class="slotholder">


              <%= image_tag slider.slider.url,Height:100 %>
            </div>

          </li>
      <% end %>
    </ul>
  </div>
</div>
