<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
  <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <link rel="stylesheet" type="text/css"  href="css/index.css"/>
</head>
<body>
<div class="qq-client">
  <a href="javascript:void(0);" class="qq-client-open">在<br/>线<br/>客<br/>服</a>
</div>
<div class="qq-client-content">
  <h1>QQ在线咨询<span class="qq-client-close">关闭</span></h1>
  <div class="qq-client-list">
    <div class="client-list"><a href="#1"><label>QQ：</label><span>1145308024</span></a> </div>
  </div>
  <h1>拨打服务热线</h1>
  <div class="qq-client-list">
    <div class="client-list"><label>电话：</label><span>0871-65345617</span></div>
  </div>
  <h1>关注微信公众号</h1>
  <div class="qq-client-list">
    <div class="client-list"><img src="/images/花之懿服务号二维码 50x50.jpg" style="display: block;margin: 0 auto 10px;width: 180px"></div>
  </div>
</div>
</body>
</html>
