<!-- header-section-starts -->
<div class="header" >
  <div class="top-header">
    <div class="wrap">
      <div class="header-left">
        <ul>
          <li>电话： <%= public_config.tel %></li> |
          <li>QQ :<%=public_config.qq %></li>
        </ul>
      </div>
      <div class="header-right">
        <ul>
          <li>
            <i class="user"></i>
            邮箱： <%=public_config.mail %>
          </li>
          <li class="login">
            <i class="lock"></i>
            地址: <%=public_config.address%>
          </li>


        </ul>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</div>
<!-- header-section-ends -->