<!-- header-section-starts -->
<div class="header" >
  <div class="top-header">
    <div class="wrap">
      <div class="header-left">
        <ul>
          <li><a href="#">24x7 Customer Care  </a></li> |
          <li><a href="order.html"> Track Order</a></li>
        </ul>
      </div>
      <div class="header-right">
        <ul>
          <li>
            <i class="user"></i>
            <a href="account.html">My Account</a>
          </li>
          <li class="login">
            <i class="lock"></i>
            <a href="login.html">Login</a>|
          </li>
          <li>
            <i class="cart"></i>
            <a href="#">Shopping Cart</a>
          </li>
          <li class="last">5</li>
        </ul>
        <div class="sign-up-right">
          <a href="login.html">Sign Up</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</div>
<!-- header-section-ends -->