


  <div class="wrap">


<div class="transport-grid" style="position:relative; top:70px">
  <div class="col-md-4 shipping">
    <h3><i class="shipping-icon"></i>Free Shipping</h3>
    <p>Syphogrants called into the council chamber, and these are changed every day. It is a fundamental rule of their government,</p>
  </div>
  <div class="col-md-4 shipping">
    <h3><i class="correct-icon"></i>100 % Original</h3>
    <p>Syphogrants called into the council chamber, and these are changed every day. It is a fundamental rule of their government,</p>
  </div>
  <div class="col-md-4 return">
    <h3><i class="return-icon"></i>Free Return</h3>
    <p>Syphogrants called into the council chamber, and these are changed every day. It is a fundamental rule of their government,</p>
  </div>
  <div class="clearfix"></div>
</div>
</div>

