


  <div class="wrap">


<div class="transport-grid" style="position:relative; top:70px">
  <div class="col-md-4 shipping">
    <h3><i class="shipping-icon"></i>100 % 鲜花制作</h3>
    <p>我们在安宁种植200多亩玫瑰基地，从源头把关，把环保、绿色、健康做为公司的发展方向</p>
  </div>
  <div class="col-md-4 shipping">
    <h3><i class="correct-icon"></i>100 % 鲜花制作</h3>
    <p>我们在安宁种植200多亩玫瑰基地，从源头把关，把环保、绿色、健康做为公司的发展方向</p>
  </div>
  <div class="col-md-4 return">
    <h3><i class="return-icon"></i>100 % 鲜花制作</h3>
    <p>我们在安宁种植200多亩玫瑰基地，从源头把关，把环保、绿色、健康做为公司的发展方向</p>
  </div>
  <div class="clearfix"></div>
</div>
</div>

