




  <div class="wrap">
<div class="transport-grid" style="position:relative; top:70px">
  <% @frames.each do |k| %>
  <div class="col-md-4 shipping">
    <div style="width:460px;height:410px">
    <h3><%= k.ftitle %></h3>
    <p><%= k.fcontent.html_safe %></p>
    </div>
  </div>
  <% end %>



</div>
</div>

