<script type="text/javascript">
  $(function() {
    var menu_ul = $('.menu > li > ul'),
        menu_a  = $('.menu > li > a');
    menu_ul.hide();
    menu_a.click(function(e) {
      e.preventDefault();
      if(!$(this).hasClass('active')) {
        menu_a.removeClass('active');
        menu_ul.filter(':visible').slideUp('normal');
        $(this).addClass('active').next().stop(true,true).slideDown('normal');
      } else {
        $(this).removeClass('active');
        $(this).next().stop(true,true).slideUp('normal');
      }
    });

  });
</script>
<div class="sub-cate"style="width: 15%">
  <div class=" top-nav rsidebar span_1_of_left">
    <h3 class="cate">玫瑰花的作用与功效</h3>
    <ul class="menu" >

      <li>
        <ul class="kid-menu">
          <% @lefttitle.each do |f| %>
              <li><%= link_to f.title,roses_path(id:f) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>


